.header {
width:1500px;
margin-left: 10px;
font-size: 100px;
color: white;
height: 300px;
text-shadow: 3px 3px 1px grey;
white-space: nowrap;
padding-top:60px;
padding-bottom:100px;
box-shadow: 0px 0px 5px #999;
background-image: url(https://thumbs.dreamstime.com/b/horizontal-light-wood-texture-grey-rough-background-shades-useful-background-95300586.jpg);
}

hr{
    overflow: visible;
    border: none;
    border-top: 10px double white;
    color:white;
    text-align: center;
    margin-left:-50px;
    width:850px;
}

hr:after {
    content: " § ";
    display: inline-block;
    position: relative;
    bottom:95px;
  padding-right:15px;
  padding-left:15px;
    font-size: 50px;
    color:white;
    background: rgb(182,204,64);
}

.headerText{
padding: 50px 220px 50px 220px;
background:rgb(182,204,64);
margin-left:162px;
width:750px;
height:235px;
box-shadow: 0px 0px 5px #999;
}

.sideNav{
  margin-bottom: 0px;
  height: 1873px; 
}

.styles_kPagination__1qVvD .styles_kPaginationListPage__2_6Ph {
margin-top:50px;
margin-left: 570px;
}

.footer{
  background:rgb(182,204,64);
  height: 250px;
  margin-left:10px;
  margin-top:100px;
    width:1500px;
  box-shadow: 0px 0px 5px #555;
}

.loading {
  font-style: italic;
  color: #222;
  position: relative;
  font-size: 80px;
  left: 350px;
}

.showing {
  width:1500px;
  text-align:center;
  margin-left:10px;
  background: white;
  padding-top: 50px;
  padding-bottom:25px;
  height:75px;
  font-size:35px;
  box-shadow: 0px 0px 5px #999;
  margin-bottom: 40px;
}

.input {
  width:1253px;
  margin-left:133px; 
  background: rgb(184,173,161);
  padding-bottom: 10px;
  margin-bottom:-8px;
  box-shadow: 0px 0px 5px #999;
}

.modal {
  transition: 0.5s;
  padding: 20px;
  width: 800px;
  margin-left: 50%;
  margin-top: 20%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #FDFBFD;
  color: #20445E;
  border: 2px solid white;
  box-shadow: 0px 0px 5px #000000;
}

.modal:focus {
  border: none;
  outline: 0;
}

.styles_kPagination__1qVvD .styles_kPaginationListItemVertical__q-2s5{
display: block;
background: rgb(255, 255, 255, 0.75);
margin-left:125px;
width:1253px;
padding-bottom: 75px;
box-shadow: 0px 0px 5px #999;
}

.ticket {
  transform: scale(0.8);
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  width: 665px;
  border-radius: 5px;
  height: 225px;
  color: black;
  padding: 0px 0px 0px 35px;
  margin: 20px -85px -40px -20px;
  transition: 0.5s;
}

.ticket:hover {
  transform: scale(0.85);
}

.modal button {
  margin-top: -5px;
  color: grey;
  float: right;
  cursor: pointer;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-weight: bolder;
}

.modal button:hover {
  color: #20445E;
}

.title {
  line-height:1.2;
  height:20px;
  width: 495px;
}

.content {
  text-overflow: ellipsis;
  line-height: normal;
  overflow: hidden;
  width: 500px;
  height: 65px;
}

.labelGrid {
  display: grid;
  position: absolute;
  width: 110px;
  grid-template-columns: auto;
  margin-top: -165px;
  margin-right: 60px;
  margin-left: 540px;
}

.label {
  position: relative;
  background: #ececec;
  color: #999999;
  font-weight: 500;
  border: solid #999999 1px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px 10px 8px 10px;
  text-align: center;
}

.hideTicketButton {
  position: absolute;
  font-weight: bolder;
  margin-top: 1.5%;
  left: 90%;
  cursor: pointer;
  background: none !important;
  border: none;
  padding: 0 !important;
  transition: 0.2s;
  opacity: 0;
}

.ticket:hover > .hideTicketButton {
  opacity: 1;
  color: grey;
  filter: alpha(opacity=100);
}

.restore {
  color: #cccccc;
  font-size:35px;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  border: none;
  outline: 0;
}

.results {
  font-style: italic;
}

.hiddenTicket {
  display: none;
}

#searchInput {
  width: 75%;
  margin-left: 150px;
  margin-right:150px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  border: 1.5px solid rgb(255, 255, 255);
  margin-top: 10px;
  outline: none;
  box-shadow: none;
  color: black;
}

input::-webkit-input-placeholder {
  color: rgb(170, 170, 170);
  padding-left: 10px;
}
input:focus::-webkit-input-placeholder {
  color: white;
}

.mark:hover {
  font-weight: 600;
}
